:root {
  --nav-height: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: #e6e6e6;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  overflow-x: hidden;
}

a {
  color: #e6e6e6;
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  background-color: rgba(1, 1, 1, 0.85);
  transition: transform, 350ms;
  transition-timing-function: ease-out;
}

.header--hidden {
  transform: translateY(var(--nav-height));
}

.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .team-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.header .nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header .nav-links ul li {
  list-style: none;
  margin-right: .4rem;
}

.header .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin: .4rem;
}

.header .toggle-button .bar {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: #e6e6e6;
}

@media (max-width: 50rem) {
  .header .toggle-button {
    display: flex;
  }
  .header .nav-links {
    width: 100%;
    display: none;
  }
  .header .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  .header .nav-links li {
    text-align: center;
  }
  .header .nav-links.active {
    display: flex;
  }
  .header .nav {
    flex-direction: column;
    align-items: start;
  }
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
  padding: 1rem;
  background: rgba(1, 1, 1, 0.85);
  color: #e6e6e6;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

footer .footer__title {
  margin-bottom: 1rem;
  font-weight: 700;
}

footer .footer__text {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

footer .footer__icons {
  display: flex;
  gap: .5rem;
  margin-right: 4vw;
}

@media (max-width: 40rem) {
  footer .footer__icons {
    flex-direction: column;
  }
}

footer .link i:hover {
  transform: scale(1.5, 1.5);
}

.contact__link {
  height: 100%;
  width: 100%;
  outline: 2px solid #e6e6e6;
  transition: outline-offset 250ms ease-in-out;
}

.contact__link:hover {
  outline-offset: 4px;
}

.contact__link:nth-child(1) {
  background-color: #9298a0;
}

.contact__link:nth-child(2) {
  background-color: #30ab53;
}

.contact__link:nth-child(3) {
  background-image: radial-gradient(circle at 0% 150%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.contact__link:nth-child(4) {
  background-color: #1876f2;
}

.contact__link:nth-child(5) {
  background-color: red;
}

.contact__link__bg {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms ease-in;
}

.contact__link__bg:hover {
  background-color: transparent;
}

.card-list {
  display: flex;
  padding: 2.8rem;
  overflow-x: auto;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background: #c2660a;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(255, 166, 77, 0.3), inset -2px -2px 2px #c2660a;
}

.card-list::-webkit-scrollbar-track {
  background: #050505;
}

@media (min-width: 1125px) {
  .card-list {
    overflow-x: hidden;
  }
}

.card {
  height: 490px;
  width: 360px;
  min-height: 340px;
  min-width: 310px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #050505;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: 150ms ease-in;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.card:focus-within ~ .card, .card:hover ~ .card {
  transform: translateX(130px);
}

.card:hover {
  transform: translateY(-1rem);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #79798b;
}

.card-header h2 {
  font-size: 20px;
  margin: 1.7rem .25rem .25rem;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  text-align: center;
}

.card-header--hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 400%;
  animation: animated-text 15s linear infinite alternate-reverse;
}

.card-author {
  margin: 1rem 0 0;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-column-gap: 3rem;
  align-items: center;
  position: relative;
}

.author-avatar {
  grid-area: auto;
  align-self: start;
  position: relative;
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}

.author-name {
  grid-area: auto;
  box-sizing: border-box;
  font-size: 20px;
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #79798b;
}

.half-circle {
  position: absolute;
  bottom: 10px;
  left: -195px;
  width: 500px;
  height: 52px;
  fill: none;
  stroke: #ff8000;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.hc-ment {
  stroke: #1081ea;
}

.hc-mrkt {
  stroke: #f72684;
}

.hc-build {
  stroke: #f7ba22;
}

.hc-prog {
  stroke: #2bb7da;
}

.tags {
  margin: 0 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: .5rem;
  color: #79798b;
  text-transform: uppercase;
  font-size: .66rem;
  border: 3px solid #27232e;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg, #ff8000, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}

.icon {
  position: absolute;
}

.icon:first-of-type {
  top: 2rem;
  left: 1.5rem;
}

.icon:not(:first-of-type) {
  bottom: 2rem;
  right: 1.5rem;
}

.icon-ment {
  color: #1081ea;
}

.icon-mrkt {
  color: #f72684;
}

.icon-build {
  color: #ffc229;
}

.icon-prog {
  color: #2bb7da;
}

@keyframes animated-text {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.page__title--main {
  font-size: clamp(2rem, 6vw, 4rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  text-shadow: -3px 3px 0px;
  text-transform: uppercase;
  width: fit-content;
  background-image: radial-gradient(circle at 30% 150%, #8A2387 0%, #8A2387 33%, #E94057 66%, #F27121 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 250ms ease;
  margin: 0 0 2rem;
}

.page__title--main:hover {
  text-shadow: 0px 0px 0px;
}

.page__title--podcast {
  font-size: clamp(2.5rem, 6vw, 4rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: left;
  text-shadow: -3px 3px 0px;
  text-transform: uppercase;
  width: fit-content;
  background-image: radial-gradient(circle at 30% 150%, #8A2387 0%, #8A2387 33%, #E94057 66%, #F27121 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 250ms ease;
  margin: 0 2.5rem 0rem;
}

.page__title--podcast:hover {
  text-shadow: 0px 0px 0px;
}

@media (max-width: 1000px) {
  .page__title--podcast {
    text-align: center;
    margin: 0 auto 0;
  }
}

.page__title--contact {
  font-size: clamp(3rem, 10vw, 4rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: left;
  text-shadow: -3px 3px 0px;
  text-transform: uppercase;
  width: fit-content;
  background-image: radial-gradient(circle at 30% 150%, #8A2387 0%, #8A2387 33%, #E94057 66%, #F27121 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 250ms ease;
  margin: 0 0 2rem;
}

.page__title--contact:hover {
  text-shadow: 0px 0px 0px;
}

.page__title--sponsorsl, .page__title--sponsorsr {
  font-size: clamp(2rem, 6vw, 3.7rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: left;
  text-shadow: -3px 3px 0px;
  text-transform: uppercase;
  width: fit-content;
  background-image: radial-gradient(circle at 30% 150%, #8A2387 0%, #8A2387 33%, #E94057 66%, #F27121 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 250ms ease;
}

.page__title--sponsorsl:hover, .page__title--sponsorsr:hover {
  text-shadow: 0px 0px 0px;
}

@media (max-width: 1230px) {
  .page__title--sponsorsl, .page__title--sponsorsr {
    text-align: center;
  }
}

.page__title--sponsorsr {
  text-align: right;
}

@media (max-width: 1230px) {
  .page__title--sponsorsr {
    text-align: center;
  }
}

.page__title--team {
  font-size: clamp(3rem, 6vw, 5rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  text-shadow: -3px 3px 0px;
  text-transform: uppercase;
  width: fit-content;
  background-image: radial-gradient(circle at 30% 150%, #8A2387 0%, #8A2387 33%, #E94057 66%, #F27121 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 250ms ease;
  margin: 8rem auto 2rem;
}

.page__title--team:hover {
  text-shadow: 0px 0px 0px;
}

.page__description--podcast {
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  width: fit-content;
  padding: 1rem 0 1rem;
  margin: 0 0 0rem 2.5rem;
}

@media (max-width: 1000px) {
  .page__description--podcast {
    text-align: center;
    margin: 0;
  }
}

.page__description--team {
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto 0;
}

.page__paragraph--main {
  font-size: clamp(0.6rem, 2vw, 1.11rem);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  width: fit-content;
  line-height: 1.1;
}

.list__title {
  font-size: clamp(2.3rem, 5vw, 3.3rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  text-shadow: -3px 3px 0px;
  text-transform: uppercase;
  width: fit-content;
  background-image: radial-gradient(circle at 30% 150%, #8A2387 0%, #8A2387 33%, #E94057 66%, #F27121 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 250ms ease;
  margin: 2.5rem auto 1rem;
}

.list__title:hover {
  text-shadow: 0px 0px 0px;
}

.season-header {
  font-size: clamp(2.3rem, 5vw, 3.3rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  text-shadow: -3px 3px 0px;
  text-transform: uppercase;
  width: fit-content;
  background-image: radial-gradient(circle at 30% 150%, #8A2387 0%, #8A2387 33%, #E94057 66%, #F27121 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 250ms ease;
  margin: 2.5rem 0 4rem;
}

.season-header:hover {
  text-shadow: 0px 0px 0px;
}

.link {
  padding: .4rem;
}

.link:hover {
  color: #ff8000;
}

.donation {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin: 0 2rem 0rem 1.7rem;
}

@media (max-width: 800px) {
  .donation {
    flex-direction: column;
    margin: 0;
  }
}

.donation__container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: fit-content;
}

@media (max-width: 800px) {
  .donation__container {
    width: 60vw;
  }
}

.donation__title {
  font-size: clamp(2rem, 6vw, 3.5rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
}

.donation__description {
  font-size: clamp(0.9rem, 2vw, 1.3rem);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
}

.donation__details {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
  align-content: center;
  justify-content: center;
  width: 35%;
  height: auto;
  padding: 2rem;
  border: 2px solid #e6e6e6;
  background-color: #ff8000;
  transition: box-shadow 350ms ease-out;
}

.donation__details:hover {
  cursor: pointer;
  box-shadow: 1px 0 15px 3px #ff8000;
}

@media (max-width: 800px) {
  .donation__details {
    width: 60vw;
  }
}

.donation__detail {
  font-weight: 600;
  overflow-wrap: anywhere;
}

.donation__icon {
  position: absolute;
  align-self: center;
}

.main--index {
  height: 100%;
  width: 100%;
  padding: 3rem;
  display: grid;
  gap: 0rem;
  grid-auto-flow: row;
  align-items: center;
  align-content: center;
  justify-items: end;
  justify-content: center;
}

@media (max-width: 1040px) {
  .main--index {
    align-items: center;
    justify-items: center;
    gap: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media (min-width: 65em) {
  .main--index {
    grid-auto-flow: column;
  }
}

.main--podcast {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  gap: 0rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.main--podcast .heading {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-image: url(../../assets/Podcast.jpg);
  background-size: cover;
}

.main--podcast .heading .description {
  width: 80%;
  position: relative;
  top: 70%;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: 1230px) {
  .main--podcast .heading .description {
    top: 40%;
  }
}

@media (max-width: 1000px) {
  .main--podcast .heading .description {
    margin: 0 auto 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .main--podcast .heading .description {
    top: 15%;
  }
}

.main--contact {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  gap: clamp(0.1rem, 5vw, 4rem);
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@media (max-width: 1120px) {
  .main--contact {
    flex-direction: column;
  }
}

.main--team .heading {
  position: relative;
  width: 100vw;
  height: 90vh;
}

.main--team::before {
  content: "";
  position: absolute;
  top: 72px;
  left: 0;
  width: 100vw;
  height: calc(100% + var(--nav-height));
  background-image: url("../../assets/Poza echipa.jpg");
  background-size: cover;
  filter: blur(3px) brightness(60%);
  z-index: -2;
}

.main--sponsors {
  display: flex;
  gap: 0rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 6rem 0 4rem;
}

.section {
  display: grid;
  gap: 0.6rem;
  grid-auto-flow: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  max-width: 95%;
  height: auto;
}

@media (max-width: 65rem) {
  .section {
    max-width: 90%;
  }
}

.section--contact {
  display: grid;
  gap: 0.6rem;
  grid-auto-flow: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  max-width: 95%;
  height: auto;
  padding-bottom: 2rem;
}

.article {
  display: flex;
  gap: 0rem;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.article--contacts {
  padding: 2rem 0 2rem;
  width: clamp(21rem, 60vw, 30rem);
  height: auto;
}

@media (max-width: 1120px) {
  .article--contacts {
    padding: 0;
  }
}

.img-cover {
  position: relative;
  width: clamp(30vw, 70vw, 30rem);
  height: auto;
}

.img-cover--motto {
  width: inherit;
  height: auto;
}

.season-list {
  display: flex;
  gap: 2.5rem;
  flex-direction: column-reverse;
  align-items: start;
  align-content: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.season-list .episode {
  display: flex;
  gap: 0.8rem;
  flex-direction: row-reverse;
  align-items: start;
  align-content: center;
  justify-content: center;
}

@media (max-width: 850px) {
  .season-list .episode {
    gap: 0;
  }
}

.season-list .episode__container {
  padding: 0 1rem 0;
}

.season-list .episode__title {
  font-size: clamp(1rem, 5vw, 3rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  width: fit-content;
  text-transform: none;
  margin-bottom: 1.5rem;
}

@media (max-width: 900px) {
  .season-list .episode__title {
    margin-bottom: .8rem;
  }
}

.season-list .episode__description {
  font-size: clamp(0.6rem, 2vw, 1rem);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: left;
  width: fit-content;
  line-height: 1.1;
}

.season-list .episode .thumbnail__shadow {
  position: relative;
  width: clamp(6rem, 15vw, 12rem);
  height: auto;
  margin-left: clamp(0.5rem, 3vw, 2rem);
}

.season-list .episode .thumbnail__shadow::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(90deg, #F5505C, #18C1EA);
  filter: blur(7px);
  opacity: 0;
  transition: opacity 0.3s;
}

.season-list .episode .thumbnail__shadow:hover::after {
  opacity: .7;
}

.season-list .episode__thumbnail {
  width: inherit;
  height: auto;
}

.sponsor__image {
  width: clamp(10rem, 35vw, 20rem);
  height: auto;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 250ms ease-in;
  margin-bottom: .5rem;
}

.sponsor__image:hover {
  box-shadow: 0 0 3px 1px white;
}

.sponsor__description {
  font-size: clamp(0.6rem, 2vw, 1rem);
  line-height: normal;
}

@media (max-width: 774px) {
  .sponsor__description {
    text-align: center;
  }
}

.sponsors__heading {
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: start;
  align-content: center;
  justify-content: center;
  margin: 0 2.5rem 0;
}

@media (max-width: 1230px) {
  .sponsors__heading {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.sponsors__article {
  width: 90vw;
  height: auto;
  margin: 8rem 0 8rem;
}

.sponsors__image {
  width: 100%;
  height: auto;
}

.sponsors__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 2rem;
  row-gap: 1rem;
  align-items: start;
  margin: 4rem 2rem;
}

.sponsors__list__title {
  font-size: clamp(2rem, 6vw, 3.5rem);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
}

.sponsors__sponsor {
  display: flex;
  gap: 0rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

:root {
  --bt-w: 250px;
  --bt-h: 140px;
}

@media (max-width: 650px) {
  :root {
    --bt-w: 175px;
    --bt-h: 98px;
  }
}

@media (max-width: 450px) {
  :root {
    --bt-w: 145px;
    --bt-h: 81px;
  }
}

.contact__links {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--bt-w));
  grid-template-rows: repeat(auto-fit, var(--bt-h));
  width: calc(var(--bt-w) * 2 + 2rem);
  min-width: calc(var(--bt-w) * 2 + 2rem);
  height: calc(var(--bt-h) * 3 + 4rem);
  align-items: center;
  gap: 2rem;
}

.invisible {
  opacity: 0;
}

.invisible--bg {
  background-color: transparent !important;
}

.invisible--color {
  color: transparent !important;
}

.invisible--shadow {
  box-shadow: none !important;
}

.cursor--default, .cursor--default:hover {
  cursor: default !important;
}

.cursor--pointer, .cursor--pointer:hover {
  cursor: pointer !important;
}
/*# sourceMappingURL=style.css.map */