:root {
  --nav-height: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #e6e6e6;
  text-decoration: none;
}

.invisible {
  opacity: 0;
}

.invisible--bg {
  background-color: transparent !important;
}

.invisible--color {
  color: transparent !important;
}

.invisible--shadow {
  box-shadow: none !important;
}

.cursor--default, .cursor--default:hover {
  cursor: default !important;
}

.cursor--pointer, .cursor--pointer:hover {
  cursor: pointer !important;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  background-color: rgba(1, 1, 1, 0.85);
  transition: transform, 350ms;
  transition-timing-function: ease-out;
}

.header--hidden {
  transform: translateY(var(--nav-height));
}

.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .team-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.header .nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header .nav-links ul li {
  list-style: none;
  margin-right: .4rem;
}

.header .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin: .4rem;
}

.header .toggle-button .bar {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: #e6e6e6;
}

@media (max-width: 50rem) {
  .header .toggle-button {
    display: flex;
  }
  .header .nav-links {
    width: 100%;
    display: none;
  }
  .header .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  .header .nav-links li {
    text-align: center;
  }
  .header .nav-links.active {
    display: flex;
  }
  .header .nav {
    flex-direction: column;
    align-items: start;
  }
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  align-content: center;
  justify-items: center;
}

@media (min-width: 65em) {
  .main {
    grid-auto-flow: column;
  }
}

.main .article {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.main .section {
  margin: .5rem;
  padding: 1rem;
  display: grid;
  gap: 0;
  align-content: center;
  justify-content: flex-start;
  max-width: 80%;
  height: auto;
}

.main .section .main__title {
  font-size: clamp(2rem, 3.5vw, 3rem);
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
}

.main .img-cover {
  position: relative;
  width: clamp(30vw, 70vw, 30rem);
  height: auto;
}

.main--podcast {
  display: flex;
  flex-direction: column;
}

.main--podcast .heading {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-image: url(../../assets/Podcast.jpg);
  background-size: cover;
}

.main--podcast .heading .description {
  width: 80%;
  position: relative;
  top: 40%;
  left: 2rem;
}

@media (min-width: 550px) {
  .main--podcast .heading .description {
    left: 5rem;
  }
}

.page-title {
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page-description {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 700;
  text-transform: uppercase;
}

.season-header {
  font-size: clamp(2.3rem, 5vw, 3.3rem);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.main__episodes {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  gap: 2.5rem;
  margin-bottom: 4rem;
}

.main__episodes .episode {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1100px) {
  .main__episodes .episode {
    align-items: center;
  }
}

.main__episodes .episode__container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.main__episodes .episode__thumbnail {
  height: auto;
  width: clamp(6rem, 15vw, 12rem);
  margin-left: clamp(1.5rem, 3vw, 3rem);
  margin-right: 1rem;
}

.main__episodes .episode__title {
  font-weight: 700;
  font-size: clamp(1rem, 5vw, 3rem);
  margin-bottom: 2rem;
}

.main__episodes .episode__description {
  font-size: clamp(0.6rem, 2vw, 1rem);
}

.main--contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 950px) {
  .main--contact {
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .contact {
    justify-items: center;
  }
}

.contact__title {
  font-size: clamp(2.5rem, 10vw, 4rem);
  margin-bottom: 2rem;
}

.contact__addresses {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
}

.contact__addresses__collumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 950px) {
  .contact__addresses__collumn {
    align-items: center;
  }
}

.contact__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: calc(15vw + 20vh);
  width: calc(25vw + 5vh);
}

.contact__link {
  height: clamp(9rem, 100%, 10rem);
  width: clamp(12rem, 100%, 28rem);
  outline: 2px solid #e6e6e6;
  transition-property: outline-offset;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.contact__link:hover {
  outline-offset: 4px;
}

.contact__link:nth-child(1) {
  background-image: radial-gradient(circle at 0% 150%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.contact__link:nth-child(2) {
  background-color: #1876f2;
}

.contact__link:nth-child(3) {
  background-color: red;
}

.contact__link__bg {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.contact__link__bg:hover {
  background-color: transparent;
}

.img-cover--motto {
  width: clamp(30vw, 60vw, 35rem);
  height: auto;
}

.main--sponsors {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 4rem;
  align-items: center;
}

.sponsors__heading {
  display: flex;
  align-content: space-between;
  gap: 2rem;
  margin-bottom: 8rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (max-width: 1230px) {
  .sponsors__heading {
    flex-direction: column;
    align-items: center;
  }
}

.sponsors__title {
  font-size: clamp(2rem, 6vw, 3.5rem);
  font-weight: 700;
  text-align: left;
  text-shadow: -3px 3px 0px;
  transition-property: text-shadow;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.sponsors__title:hover {
  text-shadow: 0px 0px 0px;
}

@media (max-width: 1230px) {
  .sponsors__title {
    text-align: center;
  }
}

.sponsors__article {
  width: 90vw;
  height: auto;
}

.sponsors__image {
  width: 100%;
  height: auto;
}

.sponsors__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 2rem;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.sponsors__list__title {
  font-size: clamp(2rem, 6vw, 3.5rem);
  font-weight: 700;
  margin-top: 8rem;
}

.sponsors__sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors__donation {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 800px) {
  .sponsors__donation {
    flex-direction: column;
  }
}

.title--stanga {
  background-image: radial-gradient(circle at 30% 150%, #8A2387 0%, #8A2387 33%, #E94057 66%, #F27121 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title--dreapta {
  background-image: radial-gradient(circle at 40% 150%, #F27121 0%, #F27121 33%, #E94057 66%, #8A2387 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sponsor__image {
  width: clamp(15rem, 21vw, 20rem);
  height: auto;
}

.sponsor__description {
  font-size: clamp(0.8rem, 2vw, 1rem);
  line-height: normal;
}

@media (max-width: 774px) {
  .sponsor__description {
    text-align: center;
  }
}

.donation__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 40%;
}

@media (max-width: 800px) {
  .donation__container {
    width: 60vw;
  }
}

.donation__title {
  font-size: clamp(2rem, 6vw, 3.5rem);
  font-weight: 700;
  text-align: center;
}

.donation__description {
  font-size: clamp(0.9rem, 2vw, 1.4rem);
  text-align: center;
}

.donation__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  width: 35%;
  height: auto;
  padding: 2rem;
  border: 2px solid #e6e6e6;
  background-color: #ff8000;
  transition: box-shadow 350ms ease-out;
}

.donation__details:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 8px #ff8000;
}

@media (max-width: 800px) {
  .donation__details {
    width: 60vw;
  }
}

.donation__detail {
  font-weight: 600;
  overflow-wrap: break-word;
}

.donation__icon {
  position: absolute;
  align-self: center;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
  padding: 1rem;
  background: rgba(1, 1, 1, 0.85);
  color: #e6e6e6;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

footer .footer__title {
  margin-bottom: 1rem;
  font-weight: 700;
}

footer .footer__text {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

footer .footer__icons {
  display: flex;
  gap: .5rem;
  margin-right: 4vw;
}

@media (max-width: 40rem) {
  footer .footer__icons {
    flex-direction: column;
  }
}

footer .link i:hover {
  transform: scale(1.5, 1.5);
}

body {
  background: black;
  color: #e6e6e6;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  overflow-x: hidden;
}

.link {
  padding: .4rem;
}

.link:hover {
  color: #ff8000;
}
/*# sourceMappingURL=style.css.map */