@import '../utils/index';

.card-list {
  display: flex;
  padding: 2.8rem;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $secondary3;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px $secondary2, inset -2px -2px 2px $secondary3;
  }
  
  &::-webkit-scrollbar-track {
    background: $black3;
  }

  @media (min-width: 1125px) {
    overflow-x: hidden;
  }
}

.card {
  height: 490px;
  width: 360px;
  min-height: 340px;
  min-width: 310px;
  padding: 1.5rem;
  border-radius: 16px;
  background: $black3;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: 150ms ease-in;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;

  &:focus-within~&, &:hover~& {
    transform: translateX(130px);
  }

  &:hover {
    transform: translateY(-1rem);
  }

  &:not(:first-child) {
    margin-left: -130px;
  }

  &-header {
    margin-bottom: auto;

    & p {
      font-size: 14px;
      margin: 0 0 1rem;
      color: $gray;
    }
    
    & h2 {
      font-size: 20px;
      margin: 1.7rem .25rem .25rem ;
      text-decoration: none;
      color: inherit;
      border: 0;
      display: inline-block;
      text-align: center;
    }

    &--hover {
      background: linear-gradient(90deg,#ff8a00,#e52e71,#ff8a00,#e52e71);
      text-shadow: none;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 400%;
      animation: animated-text 15s linear infinite alternate-reverse;
    }
  }

  &-author {
    margin: 1rem 0 0;
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    position: relative;
  }
}

.author {
  &-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin: 16px 10px;
  }

  &-name {
    grid-area: auto;
    box-sizing: border-box;
    font-size: 20px;
  
    &-prefix {
      font-style: normal;
      font-weight: 700;
      color: $gray;
    }
  }
}

.half-circle {
  position: absolute;
  bottom: 10px;
  left: -195px;
  width: 500px;
  height: 52px;
  fill: none;
  stroke: $secondary;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.hc-{
  &ment {
    stroke: hsl(209, 87%, 49%);
  }
  &mrkt {
    stroke: hsl(333, 93%, 56%);
  }
  &build {
    stroke: hsl(43, 93%, 55%);
  }
  &prog {
    stroke: #2bb7da;
  }
}

.tags {
  margin: 0 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;

  a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: $gray;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid $gray2  ;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
  }

  a:hover {
    background: linear-gradient(90deg,$secondary,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
  }
}

.icon { 
  position: absolute;
  &:first-of-type {
    top: 2rem;
    left: 1.5rem;
  }
  &:not(:first-of-type){
    bottom : 2rem;
    right : 1.5rem;
  }
  &-ment {
    color : hsl(209, 87%, 49%);
  }
  &-mrkt {
    color : hsl(333, 93%, 56%);
  }
  &-build {
    color : hsl(43, 100%, 58%);
  }
  &-prog {
    color : hsl(192, 70%, 51%);
  }
}

// .ment {

// }

// .mrkt {

// }

// .build {

// }

// .prog {
  
// }

@keyframes animated-text {
  0% {background-position: left;}
  100% {background-position: right;}
}