footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100vw;
  max-width: 100%;

  padding: 1rem;

  background: $black2;
  color: $white1;
  text-align: left;

  display: flex;
  justify-content: space-between;
    align-items: center;

  .footer {
    &-description {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }

    &__title {
      margin-bottom: 1rem;
      font-weight: 700;
    }

    &__text {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
    }

    &__icons {
      display: flex;
      gap: .5rem;
      margin-right: 4vw;
      
      @media (max-width: 40rem) {
        flex-direction: column;
      }
    }
  }

  .link i:hover {
    transform: scale(1.5, 1.5);
  }
}
