.main--sponsors {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 4rem;
  align-items: center;
}

.sponsors__ {
  &heading {
    display: flex;
    align-content: space-between;
    gap: 2rem;
    margin-bottom: 8rem;
    margin-left: 4rem;
    margin-right: 4rem;

    @media (max-width: 1230px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &title {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-weight: 700; 
    text-align: left;

    text-shadow: -3px 3px 0px;
    

    transition-property: text-shadow;
    transition-duration: 250ms;
    transition-timing-function: ease;

    &:hover {
      text-shadow: 0px 0px 0px;
    }

    @media (max-width: 1230px) {
      text-align: center;
    }
  }

  &article {
    width: 90vw;
    height: auto;
  }

  &image {
    width: 100%;
    height: auto;
  }

  &list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 2rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;

    &__title {
      font-size: clamp(2rem, 6vw, 3.5rem);
      font-weight: 700;
      margin-top: 8rem;
    }
  }

  &sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &donation {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}

.title--stanga {
  background-image: $gradient-main;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title--dreapta {
background-image: $gradient-main-reverse;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.sponsor__ {
  &image {
    width: clamp(15rem, 21vw, 20rem);
    height: auto;
  }

  &description {
    font-size: clamp(.8rem, 2vw, 1rem);
    line-height: normal;

    @media (max-width: 774px) {
      text-align: center;
    }
  }
}

.donation__ {
  &container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 40%;

    @media (max-width: 800px) {
      width: 60vw;
    }
  }
  
  &title {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-weight: 700;
    text-align: center;
  }
  
  &description {
    font-size: clamp(.9rem, 2vw, 1.4rem);
    text-align: center;
  }

  &details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    width: 35%;
    height: auto;

    padding: 2rem;
    border: 2px solid $white1;
    background-color: $secondary;

    transition: box-shadow 350ms ease-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 20px 8px $secondary;
    }

    @media (max-width: 800px) {
      width: 60vw;
    }
  }

  &detail {
    font-weight: 600;
    overflow-wrap: break-word;
  }

  &icon {
    position: absolute;
    align-self: center;
  }
}