@import "config";
@import "header";
@import "main";
@import "footer";

body {
  background: $black1;
  color: $white1;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  overflow-x: hidden;
}

a {
  color: $white1;
  text-decoration: none;
}

.link {
  margin: 0.4rem;

  &:hover {
    color: $secondary;
  }
}





